parameters:
	ignoreErrors:
		-
			message: '#^Method Nowo\\YopassBundle\\Controller\\ShareManageController\:\:buildShareCreateForm\(\) return type with generic interface Symfony\\Component\\Form\\FormInterface does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/ShareManageController.php

		-
			message: '#^Offset ''status'' on array\{status\: string, availability\?\: string, ciphertext\?\: string, mode\?\: string, payloadKind\?\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Controller/ShareManageController.php

		-
			message: '#^Method Nowo\\YopassBundle\\DependencyInjection\\YopassExtension\:\:registerShareRepository\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DependencyInjection/YopassExtension.php

		-
			message: '#^Instanceof between Doctrine\\ORM\\Mapping\\ManyToManyInverseSideMapping\|Doctrine\\ORM\\Mapping\\ManyToManyOwningSideMapping\|Doctrine\\ORM\\Mapping\\ManyToOneAssociationMapping\|Doctrine\\ORM\\Mapping\\OneToManyAssociationMapping\|Doctrine\\ORM\\Mapping\\OneToOneInverseSideMapping\|Doctrine\\ORM\\Mapping\\OneToOneOwningSideMapping and Doctrine\\ORM\\Mapping\\AssociationMapping will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Doctrine/SecureShareMetadataListener.php

		-
			message: '#^Method Nowo\\YopassBundle\\Doctrine\\SecureShareMetadataListener\:\:remapCreatorAssociation\(\) has parameter \$metadata with generic class Doctrine\\ORM\\Mapping\\ClassMetadata but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Doctrine/SecureShareMetadataListener.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Doctrine/SecureShareMetadataListener.php

		-
			message: '#^Class Nowo\\YopassBundle\\Form\\ShareCreateType extends generic class Symfony\\Component\\Form\\AbstractType but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Form/ShareCreateType.php

		-
			message: '#^Parameter \$max of class Symfony\\Component\\Validator\\Constraints\\Length constructor expects int\<1, max\>\|null, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Form/ShareCreateType.php

		-
			message: '#^Strict comparison using \=\=\= between mixed and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Form/ShareCreateType.php

		-
			message: '#^Cannot cast array\<string, mixed\>\|object\|null to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Repository/DoctrineMongoShareRepository.php
